* {
  padding: 0;
  margin: 0;
}
.counter {
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}
button {
  padding: 12px 30px;
  color: #fff;
  background-color: #fd5d74;
  box-shadow: 2px 2px 2px #ffaab1;
  font-size: 16px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
  margin: 10px;
}

:focus {
  outline: 0;
}

span {
  font-size: 36px;
  font-weight: bold;
  color: #fd5d74
}
